#jogos {
    background-color: var(--clr-violet-dark-active);
    height: 575vh;
}

.sc-jogos{
    min-height: 100vh;
    padding-top: 65px;
}

@media (max-width: 768px) {
    #jogos {
        height: 1030vh;
    }
}