section {
  background: #000;
  position: absolute;
  max-height: 90.6%;
  display: flex;
  gap: 2px;
  overflow: hidden;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#3A0CA3,#000);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}

/* Cor de fundo do autocomplete */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #c800e1;
  -webkit-text-fill-color: rgb(240, 224, 255) !important;
  -webkit-box-shadow: 0 0 0px 1000px #951fc71c inset;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes animate {
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}

section span {
  position: relative;
  display: block;
  width: calc(6.3vw - 3.2px);
  height: calc(6.3vw - 3.2px);
  background: #0a0a0ab4;
  z-index: 2;
  transition: 1.5s;
  overflow-x: hidden;
}

section span:hover {
  background: #601b8f;
  transition: 0s;
}

section h2 {
  top: 0px;
  right: 20%;
  position: absolute;
  left: 20%;
  color: #ffffff;
  text-shadow: -4px 2px 5px black;
}

section .campo-login {
  position: absolute;
  width: 250px;
  height: 350px;
  background: #2c0c4842;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  border: solid 2px rgb(87 14 109);
  margin-bottom: 120px;
  box-sizing: unset;
}

.campo-input {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background: #4c4a4a;
    border: solid 2px black
}

.form {
    color: white;
}