.background-container {
  position: relative;
  height: 100vh;
  background-size: cover;
  margin-bottom: -80px;
}

.box-home {
  margin-left: 115px !important;
}

.texto-banner {
  background-color: var(--clr-green-normal);
  padding: 4px 16px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-bottom: 25px;
}

.lead-text {
  max-width: 600px;
}

.tamanho-banner {
  min-height: 673px;;
}

.botao-login {
  min-width: 140px;
    height: 45px;
    padding: 13px 16px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid var(--clr-green-normal);
    margin-top: 33px;
}

.botao-login:hover {
  transition: 0.3s;
  color: rgb(138, 213, 223);
  background: rgba(151, 232, 243, 0.11);
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(189, 114, 17);
}

.Banner_inicial {
  margin-top: 35px;
  background-color: rgb(64, 50, 114);
  width: 500px;
  height: 150px;
  border-radius: 10px;
  border: solid 3px black;
  box-shadow:  8px 8px 5px #17091b,
    -2px -2px 4px #8930a1;
  cursor: default ;
  background: rgba(72, 79, 170, 0.8);
}

.Banner_inicial h1 {
  top: 28%;
  left: 6.5%;
  padding: 5px;
  position: absolute;
  color: rgb(198, 208, 218);
  letter-spacing: 2px;
  text-shadow: -3px -2px 1px black;
}

.sessao_cards {
  display: flex;
  margin-right: 25vh;
  background: linear-gradient(90deg, rgb(67, 83, 129) 50%, rgb(96, 62, 150) 80%);
  width: calc(100%);
  height: 440px;
  border-radius: 4vh;
  border: solid 2px rgb(30, 51, 61);
  margin-left: -3px;
}

/* .card {
  width: 28px;
  position: relative;
  cursor: pointer;
  margin: 55px 105px;
} */

.title {
  inset: 0;
  position: absolute;
  margin-top: 170px;
  margin-left: 5px;
  border-radius: 25%;
  padding: 8px;
}

.titlecup {
  inset: 0;
  position: absolute;
  margin-top: 165px;
  border-radius: 25%;
  padding: 8px;
}

.inner img {
  aspect-ratio: 9/14;
  object-fit: cover;
  border-radius: 8px;
  border: solid 3px black;
  border-top: solid 10px black;
  margin-left: -15px;
  box-shadow: 8px 8px 10px black;
}

/* .card:hover .inner {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  transition: 0.2s; 
  filter: blur(0.9px);
}

.card:hover .title {
  transform: translate3d(0%, -20%, 0);
  transition: 0.2s;
}

.card:hover .titlecup {
  transform: translate3d(0%, -20%, 0);
  transition: 0.2s;
} */

.btnlogin{
  margin-top: 10px;
  width: 90px;
  padding: 5px;
  border-radius: 10px;
  border: inset 3px rgb(0, 0, 0);
  font-size: 25px;
  background: rgb(59, 66, 172);
  font-weight: bold;
  box-shadow:  7px 7px 5px #17091b,
    -1px -1px 1px #000000;
  text-shadow: -1px 1px 3px rgb(175, 146, 157);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.btnlogin:hover {
  transition: 1s;
  background-color: rgb(93, 14, 184);
  transform: scale(105%);
  box-shadow:  2px 1px 5px #a8c3da,
    -1px -1px 3px #000000;
}