#footer {
    background-color: #060116;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    border-top: solid 6px black;
}

.routes-titulo {
    color: rgb(197, 209, 218);
    text-decoration: none;
    padding: 5px;
}

.routes-titulo:hover {
    transition: 1s;
    color: purple;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

.links_footer {
    background-color: rgb(92, 86, 99);
    border-radius: 10px;
    border: solid 2px black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
}

.links_footer2 {
    display: flex;
    padding: 5px;
    color: antiquewhite;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.links_footer2:hover {
    transition: 0.3s;
    color: rgb(116, 192, 179);
}

.texto_footer {
    color: antiquewhite;
    font-size: 12px;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 0;
}

@media (min-width: 768px) {
    #footer {
        flex-direction: row;
        height: 180px;
    }

    .routes-titulo {
        margin-top: 55px;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        display: inline;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .links_footer {
        width: 600px;
        margin-left: 6.5%;
        margin-top: 22px;
    }

    .texto_footer {
        margin-right: 270px;
    }
}