#footer {
    background-color: #060116;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    height: 180px;
    border-top: solid 6px black;
}

.routes-titulo{
    color: rgb(197, 209, 218);
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin-top: 55px;
}

.routes-titulo:hover{
    transition: 1s;
    color: purple;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
  
nav ul li {
    display: inline;
}

.links_footer {
    background-color: rgb(92, 86, 99);
    border-radius: 10px;
    border: solid 2px black;
    width: 600px;
    padding-left: 0px;
    padding-right: 3px;
    padding-bottom: 1px;
    margin-left: 6.5%;
    margin-top: 22px;
}

.links_footer2 {
    display: flex;
    padding: 5px;
    color: antiquewhite;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.links_footer2:hover {
    transition: 0.3s;
    color: rgb(116, 192, 179);
}

.texto_footer {
    display: flex;
    color: antiquewhite;
    font-size: 12px;
    max-width: 750px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 270px;
    text-align: center;
}