#paginacao {
    margin-top: 10px;
}

.prev-btn,
.next-btn {
  margin: 0 16px;
  font-size: 18px;
  letter-spacing: 2px;
  color: antiquewhite;
}

.prev-btn:hover,
.next-btn:hover {
 color: rgb(55, 156, 118);
} 

.disabled {
  opacity: 0.6;
  transition: 1s;
}